@page "/signout"

<PageTitle>SignOut</PageTitle>

<div class="wrapper">


<header>
    <a href="Overview"><img src="/Image/solid.svg" alt="siliconloggo"></a>
</header>

<h1>
    You are now Signed Out!
</h1>

</div>

