@inherits LayoutComponentBase
@layout AccountLayout


<section class="profile">
    <aside>
        <Frontend.Components.Section.AccountProfileAvatar/>
        <ManageNavMenu />
    </aside>

    <div>
        @Body
    </div>
</section>


@code{
    [CascadingParameter]
    private ApplicationUser user { get; set; } = default!;

    [CascadingParameter]
    private HttpContext httpContext {get; set;} = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserDataAsync();
    }

    protected async Task LoadUserDataAsync()
    {
        user = await UserManager.GetUserAsync(httpContext.User) ?? null!;
    }
}



