@inherits LayoutComponentBase
@layout AccountLayout


<section class="profile">
    <aside>
        <Frontend.Components.Section.AccountProfileAvatar/>
        <ManageNavMenu />
    </aside>

    <div>
        @Body
    </div>
</section>




